@font-face {
  font-family: "iconfont"; /* Project id 3784660 */
  src: url('iconfont.woff2?t=1669644780143') format('woff2'),
       url('iconfont.woff?t=1669644780143') format('woff'),
       url('iconfont.ttf?t=1669644780143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-application:before {
  content: "\e601";
}

.icon-bottom:before {
  content: "\e8f9";
}

.icon-top:before {
  content: "\e8fa";
}

.icon-system:before {
  content: "\e648";
}

.icon-dark:before {
  content: "\e72f";
}

.icon-light:before {
  content: "\e746";
}

.icon-bottom-right:before {
  content: "\e619";
}

.icon-top-right:before {
  content: "\e64e";
}

.icon-top-left:before {
  content: "\e64f";
}

.icon-bottom-left:before {
  content: "\e650";
}

.icon-broken:before {
  content: "\ec0d";
}

.icon-loading:before {
  content: "\e8b8";
}

.icon-manage:before {
  content: "\ebb7";
}

.icon-wave-left:before {
  content: "\e638";
}

.icon-wave-right:before {
  content: "\e63a";
}

.icon-playing:before {
  content: "\e643";
}

.icon-record:before {
  content: "\e64b";
}

.icon-check:before {
  content: "\e929";
}

.icon-tri-dot:before {
  content: "\e6b6";
}

.icon-back:before {
  content: "\e6c3";
}

.icon-power-off:before {
  content: "\e62e";
}

.icon-website:before {
  content: "\e629";
}

.icon-setting:before {
  content: "\e600";
}

.icon-info:before {
  content: "\e62d";
}

.icon-home:before {
  content: "\e667";
}

.icon-switch:before {
  content: "\e735";
}

.icon-cross:before {
  content: "\e63d";
}

.icon-burger:before {
  content: "\e976";
}

.icon-grab:before {
  content: "\eafa";
}

.icon-pointer:before {
  content: "\e7bb";
}

.icon-download:before {
  content: "\ef4e";
}

.icon-min:before {
  content: "\ec69";
}

.icon-max:before {
  content: "\ec68";
}

.icon-relation-graph:before {
  content: "\e867";
}

